In [1]:
import numpy as np ; import pandas as pd

In [2]:
values = pd.Series(['apple', 'orange', 'apple', 'apple'] * 2)
values

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
dtype: object

In [3]:
pd.unique(values)

array(['apple', 'orange'], dtype=object)

In [4]:
pd.value_counts(values)

apple     6
orange    2
dtype: int64

In [6]:
values = pd.Series([0, 1, 0, 0] * 2)
dim = pd.Series(['apple', 'orange'])
values
dim

0     apple
1    orange
dtype: object

In [8]:
dim.take(values)

0     apple
1    orange
0     apple
0     apple
0     apple
1    orange
0     apple
0     apple
dtype: object

In [9]:
fruits = ['apple', 'orange', 'apple', 'orange'] * 2
N = len(fruits)
df = pd.DataFrame({'fruit' : fruits,
                 'basket_id' : np.arange(N),
                 'count' : np.random.randint(3, 15, size = N),
                 'weight' : np.random.uniform(0, 4, size = N)},
                 columns = ['basket_id', 'fruit', 'count', 'weight'])

In [10]:
df

   basket_id   fruit  count    weight
0          0   apple      9  2.994009
1          1  orange      5  0.851356
2          2   apple      3  0.057804
3          3  orange      8  1.657940
4          4   apple      3  3.969109
5          5  orange     13  0.077936
6          6   apple      5  1.226135
7          7  orange     14  1.679243

In [11]:
fruit_cat = df['fruit'].astype('category')
fruit_cat

0     apple
1    orange
2     apple
3    orange
4     apple
5    orange
6     apple
7    orange
Name: fruit, dtype: category
Categories (2, object): ['apple', 'orange']

In [12]:
c = fruit_cat.values
type(c)

pandas.core.arrays.categorical.Categorical

In [13]:
df['fruit']

0     apple
1    orange
2     apple
3    orange
4     apple
5    orange
6     apple
7    orange
Name: fruit, dtype: object

In [14]:
df['fruit'] = df['fruit'].astype('category')

In [15]:
df.fruit

0     apple
1    orange
2     apple
3    orange
4     apple
5    orange
6     apple
7    orange
Name: fruit, dtype: category
Categories (2, object): ['apple', 'orange']

In [2]:
my_categories = pd.Categorical(['foo', 'bar', 'baz', 'foo', 'bar'])
my_categories

['foo', 'bar', 'baz', 'foo', 'bar']
Categories (3, object): ['bar', 'baz', 'foo']

In [3]:
categories = ['foo', 'bar', 'baz']
codes = [0, 1, 2, 0, 0, 1]

In [1]:
import numpy  as np ; import pandas as pd ; import matplotlib.pyplot as mp

In [4]:
my_cats_2 = pd.Categorical.from_codes(codes, categories)
my_cats_2

['foo', 'bar', 'baz', 'foo', 'foo', 'bar']
Categories (3, object): ['foo', 'bar', 'baz']

In [5]:
my_cats_2.as_ordered()

['foo', 'bar', 'baz', 'foo', 'foo', 'bar']
Categories (3, object): ['foo' < 'bar' < 'baz']

In [6]:
np.random.seed(12345)
draws = np.random.randn(1000)
draws[:5]

array([-0.20470766,  0.47894334, -0.51943872, -0.5557303 ,  1.96578057])

In [10]:
bins = pd.qcut(draws, 4, labels = ['q1', 'q2', 'q3', 'q4'])
bins

['q2', 'q3', 'q2', 'q2', 'q4', ..., 'q3', 'q2', 'q1', 'q3', 'q4']
Length: 1000
Categories (4, object): ['q1' < 'q2' < 'q3' < 'q4']

In [8]:
bins.codes[:10]

array([1, 2, 1, 1, 3, 3, 2, 2, 3, 3], dtype=int8)

In [11]:
bins = pd.Series(bins, name = 'quartile')
results = (pd.Series(draws)
          .groupby(bins)
          .agg(['count', 'min', 'max'])
          .reset_index())
results

  quartile  count       min       max
0       q1    250 -2.949343 -0.685484
1       q2    250 -0.683066 -0.010115
2       q3    250 -0.010032  0.628894
3       q4    250  0.634238  3.927528

In [12]:
N = 10000000
draws = pd.Series(np.random.randn(N))
labels = pd.Series(['foo', 'bar', 'baz', 'quz'] * (N // 4))

In [13]:
categories = labels.astype('category')

In [14]:
labels.memory_usage()
categories.memory_usage()

10000332

In [ ]:
%time _ = labels.astype('category')

In [2]:
s = pd.Series(['a', 'b', 'c', 'd'] * 2)

In [3]:
cat_s = s.astype('category')
cat_s.cat.codes

0    0
1    1
2    2
3    3
4    0
5    1
6    2
7    3
dtype: int8

In [5]:
cat_s.cat.categories

Index(['a', 'b', 'c', 'd'], dtype='object')

In [6]:
actual_categories = ['a', 'b', 'c', 'd', 'e']
cat_s2 = cat_s.cat.set_categories(actual_categories)

In [7]:
cat_s2

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (5, object): ['a', 'b', 'c', 'd', 'e']

In [8]:
cat_s.value_counts()

a    2
b    2
c    2
d    2
dtype: int64

In [10]:
cat_s2.value_counts()

a    2
b    2
c    2
d    2
e    0
dtype: int64

In [11]:
cat_s

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (4, object): ['a', 'b', 'c', 'd']

In [13]:
cat_s3 = cat_s[cat_s.isin(['a', 'b'])]
cat_s3

0    a
1    b
4    a
5    b
dtype: category
Categories (4, object): ['a', 'b', 'c', 'd']

In [14]:
cat_s3.cat.remove_unused_categories()

0    a
1    b
4    a
5    b
dtype: category
Categories (2, object): ['a', 'b']

In [15]:
cat_s = pd.Series(['a', 'b', 'c', 'd'] * 2,  dtype = 'category')

In [16]:
pd.get_dummies(cat_s)

   a  b  c  d
0  1  0  0  0
1  0  1  0  0
2  0  0  1  0
3  0  0  0  1
4  1  0  0  0
5  0  1  0  0
6  0  0  1  0
7  0  0  0  1

In [23]:
df = pd.DataFrame({'key' : ['a', 'b', 'c'] * 4,
                  'value' : np.arange(12)})
df

   key  value
0    a      0
1    b      1
2    c      2
3    a      3
4    b      4
5    c      5
6    a      6
7    b      7
8    c      8
9    a      9
10   b     10
11   c     11

In [25]:
# key에 따른 평균구하기
km = df.groupby('key').value
km.mean(0)

key
a    4.5
b    5.5
c    6.5
Name: value, dtype: float64

In [26]:
km.transform(lambda x : x * x)

0       0
1       1
2       4
3       9
4      16
5      25
6      36
7      49
8      64
9      81
10    100
11    121
Name: value, dtype: int32

In [27]:
def normalize(x):
    return(x - x.mean()/x.std())

In [29]:
km.transform(normalize)

0    -1.161895
1    -0.420094
2     0.321707
3     1.838105
4     2.579906
5     3.321707
6     4.838105
7     5.579906
8     6.321707
9     7.838105
10    8.579906
11    9.321707
Name: value, dtype: float64

In [1]:
import numpy as np ; import pandas as pd

In [3]:
N = 15
times = pd.date_range('2017-05-20', freq = '1min', periods = N)
df = pd.DataFrame({'time' : times,
                  'value' : np.arange(N)})

In [4]:
df

                  time  value
0  2017-05-20 00:00:00      0
1  2017-05-20 00:01:00      1
2  2017-05-20 00:02:00      2
3  2017-05-20 00:03:00      3
4  2017-05-20 00:04:00      4
5  2017-05-20 00:05:00      5
6  2017-05-20 00:06:00      6
7  2017-05-20 00:07:00      7
8  2017-05-20 00:08:00      8
9  2017-05-20 00:09:00      9
10 2017-05-20 00:10:00     10
11 2017-05-20 00:11:00     11
12 2017-05-20 00:12:00     12
13 2017-05-20 00:13:00     13
14 2017-05-20 00:14:00     14

In [5]:
df.set_index('time').resample('5min').count()

                     value
time
2017-05-20 00:00:00      5
2017-05-20 00:05:00      5
2017-05-20 00:10:00      5

In [10]:
time_key = pd.Grouper('5min')

In [9]:
import pandas as pd

In [ ]:
# 분석에 필요없는 변수들을 계속해서 생성하는 상황에 필요한 함수 DataFrame.assign

In [11]:
df  = load_data()

NameError: name 'load_data' is not defined

In [ ]:
# pipe 메서드