In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import os
os.getcwd()

'd:\\OneDrive - knu.ac.kr\\학석사\\ASF\\code'

In [4]:
# 데이터 불러오기
data = pd.read_excel('../data/ASF.xlsx');data

,구분,신고(발견),확진,시도,시군구,읍면,리,세부주소,위도,경도,개체구분
0,1,2019-10-02,2019-10-03,경기도,연천군,신서면,도밀리,944,38.264123,127.077756,폐사체
1,2,2019-10-11,2019-10-12,경기도,연천군,왕징면,강서리,986,38.090774,126.938503,수렵개체
2,3,2019-10-11,2019-10-12,강원도,철원군,원남면,진현리,115,38.303126,127.600284,폐사체
3,4,2019-10-12,2019-10-12,강원도,철원군,원남면,진현리,25,38.309478,127.602335,폐사체
4,5,2019-10-12,2019-10-12,강원도,철원군,원남면,진현리,21,38.310692,127.604746,폐사체
...,...,...,...,...,...,...,...,...,...,...,...
2656,2657,2022-08-18,2022-08-22,경상북도,영주시,부석면,북지리,570-1,37.006602,128.679543,폐사체
2657,2658,2022-08-17,2022-08-23,강원도,홍천군,서석면,풍암리,산149-2,37.691556,128.165457,폐사체
2658,2659,2022-09-06,2022-09-07,충청북도,제천시,봉양읍,원박리,783-1,37.128691,128.077095,폐사체
2659,2660,2022-09-10,2022-09-13,충청북도,충주시,엄정면,유봉리,163,37.159307,127.919407,폐사체
2660,2661,2022-09-15,2022-09-18,경상북도,문경시,마성면,정리,564-7,36.686571,128.091278,폐사체

In [4]:
# 어떤 개체들이 많이 발견되었는지 확인
data[['개체구분']].value_counts()

개체구분
폐사체     2392
수렵개체     219
포획개체      50
dtype: int64

In [5]:
data[['확진']]

             확진
0    2019-10-03
1    2019-10-12
2    2019-10-12
3    2019-10-12
4    2019-10-12
...         ...
2656 2022-08-22
2657 2022-08-23
2658 2022-09-07
2659 2022-09-13
2660 2022-09-18

[2661 rows x 1 columns]

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2661 entries, 0 to 2660
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      2661 non-null   int64
 1   신고(발견)  2660 non-null   datetime64[ns]
 2   확진      2661 non-null   datetime64[ns]
 3   시도      2661 non-null   object
 4   시군구     2661 non-null   object
 5   읍면      2661 non-null   object
 6   리       2647 non-null   object
 7   세부주소    2661 non-null   object
 8   위도      2661 non-null   object
 9   경도      2661 non-null   object
 10  개체구분    2661 non-null   object
dtypes: datetime64[ns](2), int64(1), object(8)
memory usage: 228.8+ KB

In [5]:
data.loc[data['위도'] == '36.527540,', '위도'] = '36.527540'

In [6]:
data.loc[data['경도'] == '128.348.9', '경도'] = '128.348900'

In [8]:
data['위도'] = data['위도'].astype('float')
data['경도'] = data['경도'].astype('float')

In [9]:
data.to_csv('ASFC.csv', index = False, encoding = 'cp949')