In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df =  pd.read_csv('../01_data/datagokr_charger.csv', index_col=0)

In [4]:
df = df.loc[:,['lng', 'lat', 'statId']]

In [5]:
df = df.groupby('statId').value_counts()

In [6]:
df = pd.DataFrame(df)

In [7]:
df.reset_index(inplace=True)

In [8]:
df.rename(columns={0:'count'}, inplace=True)

In [8]:
df

        statId         lng        lat  count
0     CSSGS001  127.160884  37.257835      1
1     CU310006  127.109405  37.271652      1
2     CU310022  127.111144  37.320018      4
3     CU310026  127.160365  37.281677      5
4     CU310030  127.112783  37.299040     28
...        ...         ...        ...    ...
1049  TDH00032  127.232383  37.277380      2
1050  TDH00056  127.110847  37.264701      4
1051  TDH00058  127.110283  37.298363      1
1052  TDH79001  127.222609  37.293272      2
1053  TDH99001  127.222609  37.293272      5

[1054 rows x 4 columns]

In [9]:
df = df.groupby(['lat', 'lng'])['count'].sum()

In [10]:
df = pd.DataFrame(df)

In [11]:
df.reset_index(inplace=True)

In [16]:
df

           lat         lng  count
0    35.884990  129.226120      1
1    37.107781  127.198344      2
2    37.110667  127.115374      2
3    37.110733  127.137988      3
4    37.115997  127.150323      1
..         ...         ...    ...
905  37.377175  127.293995      2
906  37.385400  126.932000     11
907  37.429233  127.126683      1
908  37.449717  127.104538      8
909  37.722760  126.478800      2

[910 rows x 3 columns]

In [12]:
df.to_csv('../01_data/charger.csv')

In [15]:
# 웹에서 역지오코딩 실행

result = pd.read_csv('../01_data/charger_주소변환.csv', index_col=0)

In [16]:
charger_suji = result[result['_PARCEL_AD'].str.contains('수지구')]

In [17]:
result

           lat         lng  count                   _PARCEL_AD
0    35.884990  129.226120      1            경상북도 경주시 용강동 1611
1    37.107781  127.198344      2    경기도 용인시 처인구 이동읍 어비리 807-9
2    37.110667  127.115374      2   경기도 용인시 처인구 남사읍 봉명리 744-12
3    37.110733  127.137988      3     경기도 용인시 처인구 남사읍 봉명리 44-1
4    37.115997  127.150323      1  경기도 용인시 처인구 남사읍 봉무리 산 79-10
..         ...         ...    ...                          ...
905  37.377175  127.293995      2          경기도 광주시 초월읍 쌍동리 392
906  37.385400  126.932000     11        경기도 안양시 만안구 안양동 548-1
907  37.429233  127.126683      1         경기도 성남시 중원구 성남동 4931
908  37.449717  127.104538      8        경기도 성남시 수정구 심곡동 322-1
909  37.722760  126.478800      2      인천광역시 강화군 선원면 창리 625-40

[910 rows x 4 columns]

In [18]:
charger_suji = result[result['_PARCEL_AD'].str.contains('수지구')]
charger_gihung = result[result['_PARCEL_AD'].str.contains('기흥구')]
charger_chuin = result[result['_PARCEL_AD'].str.contains('처인구')]

In [19]:
charger_suji['_PARCEL_AD'] = 1
charger_gihung['_PARCEL_AD'] = 2
charger_chuin['_PARCEL_AD'] = 3

C:\Users\kyeongtae\AppData\Local\Temp\ipykernel_22520\800585732.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  charger_suji['_PARCEL_AD'] = 1
C:\Users\kyeongtae\AppData\Local\Temp\ipykernel_22520\800585732.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  charger_gihung['_PARCEL_AD'] = 2
C:\Users\kyeongtae\AppData\Local\Temp\ipykernel_22520\800585732.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  charger_chuin['_PARCEL_AD'] = 3

In [20]:
result = pd.concat([charger_suji, charger_gihung, charger_chuin])

In [21]:
result.rename(columns={'_PARCEL_AD' : 'gu'}, inplace=True)

In [22]:
result.to_csv('../01_data/charger.csv', encoding = 'utf-8-sig')