In [1]:
import pandas as pd
import numpy as np

In [4]:
suji = pd.read_csv('01_data/수지_기흥구.csv', index_col = 0)

In [7]:
sujigu = suji[suji['_PARCEL_AD'].str.contains('수지구')]
gihunggu = suji[suji['_PARCEL_AD'].str.contains('기흥구')]

In [9]:
sujigu.to_csv('01_data/sujigu.csv', encoding='utf-8-sig')
gihunggu.to_csv('01_data/gihunggu.csv', encoding='utf-8-sig')

In [11]:
처인구 = pd.read_csv('01_data/처인구.csv', index_col=0)

In [12]:
처인구

,betweenness_centrality,closeness_centrality,long,lat,pred.resid,_PARCEL_AD
1,0.032307,0.032234,127.229571,37.227145,-3.581006,경기도 용인시 처인구 마평동 산 58-23
2,0.040381,0.032933,127.232553,37.231897,1.191077,경기도 용인시 처인구 마평동 759
3,0.044338,0.038503,127.177204,37.285012,2.749777,경기도 용인시 처인구 포곡읍 마성리 581-7
5,0.197346,0.040661,127.190616,37.266256,-2.079822,경기도 용인시 처인구 유방동 696-2
6,0.064827,0.036439,127.205907,37.275986,-1.922759,경기도 용인시 처인구 포곡읍 영문리 535-6
...,...,...,...,...,...,...
2603,0.002981,0.016186,127.119109,37.107932,-2.581006,경기도 용인시 처인구 남사읍 봉명리 757-463
2604,0.001492,0.015667,127.117433,37.103497,-2.581006,경기도 용인시 처인구 남사읍 봉명리 527-2
2609,0.002236,0.015922,127.118027,37.107463,-2.581006,경기도 용인시 처인구 남사읍 봉명리 757-206
2610,0.002233,0.016739,127.122919,37.110821,-2.581006,경기도 용인시 처인구 남사읍 봉명리 757-723
2611,0.106985,0.035284,127.297023,37.235140,-3.283933,경기도 용인시 처인구 양지면 양지리 805-2

In [14]:
sujigu.loc[:, '_PARCEL_AD'] = 1
gihunggu.loc[:, '_PARCEL_AD'] = 2
처인구.loc[:, '_PARCEL_AD'] = 3

C:\Users\kyeongtae\AppData\Local\Temp\ipykernel_23380\166930070.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sujigu.loc[:, '_PARCEL_AD'] = 1
C:\Users\kyeongtae\AppData\Local\Temp\ipykernel_23380\166930070.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gihunggu.loc[:, '_PARCEL_AD'] = 2

In [15]:
gihunggu

,betweenness_centrality,closeness_centrality,long,lat,pred.resid,_PARCEL_AD
4,0.001683,0.039038,127.176189,37.283609,2.753514,2
9,0.216106,0.041298,127.155413,37.288368,-0.710697,2
10,0.019923,0.040223,127.173589,37.283858,2.818221,2
14,0.000000,0.030528,127.150491,37.229800,-1.488541,2
15,0.000746,0.031514,127.151141,37.232975,-1.477428,2
...,...,...,...,...,...,...
2599,0.017548,0.037512,127.099205,37.262610,-1.477956,2
2605,0.000000,0.034989,127.097315,37.263510,0.413023,2
2606,0.008149,0.036291,127.098191,37.262871,0.028450,2
2607,0.014335,0.035207,127.098517,37.261239,-1.507747,2
2608,0.013854,0.034415,127.098073,37.260443,0.747989,2

In [17]:
처인구

,betweenness_centrality,closeness_centrality,long,lat,pred.resid,_PARCEL_AD
1,0.032307,0.032234,127.229571,37.227145,-3.581006,3
2,0.040381,0.032933,127.232553,37.231897,1.191077,3
3,0.044338,0.038503,127.177204,37.285012,2.749777,3
5,0.197346,0.040661,127.190616,37.266256,-2.079822,3
6,0.064827,0.036439,127.205907,37.275986,-1.922759,3
...,...,...,...,...,...,...
2603,0.002981,0.016186,127.119109,37.107932,-2.581006,3
2604,0.001492,0.015667,127.117433,37.103497,-2.581006,3
2609,0.002236,0.015922,127.118027,37.107463,-2.581006,3
2610,0.002233,0.016739,127.122919,37.110821,-2.581006,3
2611,0.106985,0.035284,127.297023,37.235140,-3.283933,3

In [18]:
sujigu

,betweenness_centrality,closeness_centrality,long,lat,pred.resid,_PARCEL_AD
133,3.554646e-02,0.032167,127.110338,37.326545,1.235998,1
134,3.187795e-02,0.031331,127.128636,37.326805,-1.702475,1
135,2.213030e-02,0.030684,127.138287,37.327985,-1.135540,1
136,3.152164e-02,0.031395,127.113721,37.323717,-1.226027,1
298,1.300613e-03,0.026559,127.100991,37.337090,7.169720,1
...,...,...,...,...,...,...
2600,1.118656e-03,0.035813,127.103604,37.334388,-1.172387,1
2601,3.724750e-03,0.037176,127.103606,37.330581,-0.696327,1
2612,1.117777e-03,0.035813,127.104176,37.331577,-0.693198,1
2613,8.791008e-07,0.034546,127.104177,37.333264,-0.511876,1
2614,0.000000e+00,0.034545,127.104582,37.332407,-0.685311,1

In [19]:
EC = pd.concat([sujigu, gihunggu, 처인구])

In [21]:
EC.drop(['closeness_centrality', 'pred.resid'], axis = 1, inplace = True)

In [23]:
EC.rename(columns={'_PARCEL_AD' : 'class', 'betweenness_centrality' : 'bc', 'long' : 'lon'}, inplace = True)

In [24]:
EC

            bc         lon        lat  class
133   0.035546  127.110338  37.326545      1
134   0.031878  127.128636  37.326805      1
135   0.022130  127.138287  37.327985      1
136   0.031522  127.113721  37.323717      1
298   0.001301  127.100991  37.337090      1
...        ...         ...        ...    ...
2603  0.002981  127.119109  37.107932      3
2604  0.001492  127.117433  37.103497      3
2609  0.002236  127.118027  37.107463      3
2610  0.002233  127.122919  37.110821      3
2611  0.106985  127.297023  37.235140      3

[2606 rows x 4 columns]

In [26]:
EC.reset_index(drop = True, inplace = True)

In [28]:
EC.to_csv('01_data/EC.csv')