In [1]:
import pandas as pd ; import numpy as np

In [3]:
train = pd.read_csv('C:\\Users\\User\\allcode\\rpythoncode\\examples\\train.csv')

In [4]:
test = pd.read_csv('C:\\Users\\User\\allcode\\rpythoncode\\examples\\test.csv')

In [5]:
train[:4]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

In [7]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [12]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [13]:
impute_value = train['Age'].median()

In [14]:
train['Age'] = train['Age'].fillna(impute_value)

In [15]:
test['Age'] = test['Age'].fillna(impute_value)

In [16]:
train['isfemale'] = (train['Sex'] == 'female').astype(int)

In [17]:
test['isfemale'] = (train['Sex'] == 'female').astype(int)

In [18]:
predictors = ['Pclass', 'isfemale', 'Age']

In [26]:
x_train = train[predictors].values
x_test = test[predictors].values

In [27]:
y_train = train['Survived'].values

In [28]:
x_train[:5]

array([[ 3.,  0., 22.],
       [ 1.,  1., 38.],
       [ 3.,  1., 26.],
       [ 1.,  1., 35.],
       [ 3.,  0., 35.]])

In [29]:
from sklearn.linear_model import LogisticRegression

In [30]:
model = LogisticRegression()

In [31]:
model.fit(x_train, y_train)

LogisticRegression()

In [32]:
y_predict = model.predict(x_test)

In [33]:
y_predict[:10]

array([0, 0, 1, 1, 0, 0, 0, 0, 1, 1], dtype=int64)